<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <!-- ربط ملفات الستايل والجافاسكربت عبر Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images_icon/صائد الحروف11.jpg') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>صائد الحروف</h1>
        <p>اعثر على شيء يبدأ بالحرف الذي سيظهرلك كن مستعدا للتنافس!</p>
    </header>

    <div class="game-container">
        <h2>الحرف المختار:</h2>
        <div id="selectedLetterBox">
            <span id="selectedLetter">لا شيء</span>
        </div>
        
        <button id="randomLetterBtn">اختر حرفاً عشوائياً</button>

        <div class="capture-container">
            <h2>التقط صورة للشيء الذي يبدأ بالحرف المحدد</h2>
            <button id="startCaptureBtn">ابدأ التقاط</button>
            
            <!-- عرض البث المباشر للفيديو المُعالج -->
            <img src="{{ url_for('video_feed') }}" id="cameraFeed" alt="بث الكاميرا">
            
            <div id="feedback"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
